@import "partials/colors";
@import "partials/type";
@import "partials/flex";
@import "partials/circles";

* {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	}

html {
	font-family: $serif;
	font-size: 16pt;
	//font-weight: 300;
	background: $white;
}
body {
	color: $indigo;
	width: 100%;
}
section h1 {
	margin-bottom: 1em;
}
header {
	@include flex(wrap, center, center);
	background-image: url(../hero.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	.logo {
		width: 80%;
		max-width: 720px;
		height: auto;
		margin: auto;
		padding-bottom:0.5em;
	}
	h1 {
		font-family: $serif;
		font-weight: 300;
		font-size: 1.5em;
		text-align: center;
		width: 80%;
		margin: auto;
		text-shadow: rgba(255,255,255,0.75) 0px 1px 24px
	}
	padding: 2em 0em 6em;
}

a {
	&:link{
		text-decoration: none;
		color: $cyan;
	}
	&:visited{
		text-decoration: none;
		color: $cyan;
	}
	&:hover{
		text-decoration: none;
		color: $magenta;
		cursor: pointer;
	}
	&:active{
		text-decoration: none;
		color: $magenta;
	}
}
.work {
	@include flex(wrap, flex-start, center);
	.details.inactive {
		@media screen and (min-width: 995px){
			display: none;
		}
	}
}
.categories {
	@include flex(nowrap, center, center);
	background: $indigo;
	color: $white;
	.category {
		padding: 1em;
		text-align: center;
		width: 33%;
		img{
			width:50%;
			margin:auto
		}	
		h2 {
			font-family: $sans;
			font-weight: 500;
			margin-bottom: 1em;
		}
		p{
			margin-top: 2em;
		}
		.arrow{
			visibility: hidden;
			width: 0;
			height: 0;
			border-bottom: 2em solid $gray;
			border-right: 2em solid transparent;
			border-left: 2em solid transparent;
			position:relative;
			bottom: -1em;
			left: calc(50% - 2em);
		}
		&.active {
			.arrow {
				visibility: visible;
			}
		}


		@media screen and (max-width:994px){
			max-width: 800px;
			.arrow {
				display: none;
			}
		}
	}
	@media screen and (max-width:994px){
		@include flex(wrap, center, $around);
		.category {
			width: auto;
		}
	}
}
.details {
	background: $gray;
	padding: 2em;
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.16);
	.explanation {
		margin-bottom: 2em;
	}
	.examples {
		@include flex(nowrap, center, $around);
		margin-bottom: 1.5em;
		.example {
			width: 25%;
			background: $white;
			color: $indigo;
			padding: 0.5em;
			border-radius: 0.125em;
			box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.02);
			h3 {
				margin-bottom: 0.5em;
				font-weight: 500;
			}
			img {
				width: 100%;
			}
			&:hover {
				box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.08);
			}
		}
	}
	.seeAll {
		text-align: center;
		display: block;
		width: 100%;
		margin: auto;
		font-family: $sans;
	}
}
.partnership {
	.row {
		@include flex (nowrap, center, $around);
		margin: 2em;
		@media screen and (max-width:994px){
			@include flex (wrap, center, $between);
		}
	}
	.logo {
		width: 40em;
		margin: 0em 1em;
	}
	h2 {
		font-weight: 300;
		font-family: $serif;
	}
	
}
.testimonials {
	background: $gray;
	padding: 2em;
	.testimony {
		margin-bottom: 2em;
		h4 {
			font-weight: 500;
			color: $cyan;
			margin-top: 0.5em;
		}
		h5 {
			font-family: $serif;
			font-weight: 500;
		}
	}
}
.contact {
	background: $indigo;
	color: $white;
	padding: 2em;
	form {
		input {
			width: 100%;
			height: 2em;
			padding: 0.5em;
			margin: 1em 0em;
			border-radius: 1px;
		}
	}
}
footer {
	@include flex(nowrap, center, $around);
	background: $indigo;
	color: $white;
	padding-bottom: 2em;
	h6{
		text-align: center;
		font-family: $sans;
		font-weight: 300;
		font-size: 1em;
		.cName {
			font-weight: 500;
			&:before {
				content: url(../icon.png);
				position:relative;
				top:9px;
				right: 9px;
			}
		}
	}
}