@import "partials/colors";
@import "bootstrap";
@import "partials/type";

* {
	font-family: 'Effra', sans-serif;
}
body {
	color: $indigo;
	font-size: 16pt;
}
p, blockquote {
	font-family: 'Museo Slab';
}
section {
	padding: 1em 0em 2em;
	h1 {
		margin-bottom: 16px;
	}
}
.splash {
	background-image: url(../img/hero.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	small {
		font-family: $serif;
		font-weight: 300;
		color: $indigo;
	}
	.schedule {
		margin-top: 2em;
	}
}
.categories {
	background: $indigo;
	color: $white;
	text-align: center;
	h2 {
		margin-bottom: 16px;
	}
	p {
		margin-top: 16px;
	}
	@media screen and (max-width:$screen-sm) {
		text-align: left;
		h2 {
			margin-bottom: 16px;
		}
		p {
			margin-top: 4px;
		}

	}
	.col-sm-4 {
		margin-bottom: 32px;
	}
}
.featured {
	background-image: url(../img/hero2.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	.example {
		background: $white;
		color: $indigo;
		border-radius: 2px;
		box-shadow: 0px 4px 4px 0px rgba(25,34,125,0.1);
		h3 {
			padding-top: 8px;
		}
		p {
			padding: 8px 4px 12px;
		}
	}
	.seeAll {
		margin-top: 2em;
	}
}
.testimonials {
	.testimony {
		margin: 2em 0em;
		h4 {
			color: $cyan;
		}
	}
}
.contact {
	background: $indigo;
	color: $white;
	form {
		margin-top: 32px;
		input {
			margin-bottom: 1em;
		}
		textarea {
			height: 5em;
			margin-bottom: 1em;
		}
		.send {
			&:after {
				content: url(../img/arrow.png);
				position:relative;
				height: 1em;
				width: 1em;
				top:  2px;
				left: 4px;
			}
		}
	}
}
footer {
	background: $indigo;
	color: $white;
	padding-bottom: 1.5em;
	h6{
		font-weight: 300;
		font-size: 1em;
		margin-left: 9px;
		line-height: 2;
		.cName {
			font-weight: 500;
			&:before {
				content: url(../img/icon.png);
				position:relative;
				top:9px;
				right: 9px;
			}
		}
		@media screen and (max-width:$screen-sm) {
			text-align: center;
			margin: auto;
		}
	}
	.social {
		margin-top: 16px;
	}
}