$around: space-around;
$between: space-between;

@mixin flex($wrap, $align, $justify){
    display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row $wrap;
	flex-flow: row $wrap;
	-webkit-align-items: $align;
	align-items: $align;
	-webkit-align-content: $align;
	align-content: $align;
	-webkit-justify-content: $justify;
	justify-content: $justify;
}