/* line 4, ../sass/partials/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Effra", sans-serif;
}

/* line 7, ../sass/partials/_type.scss */
h1 {
  font-weight: 300;
}

/* line 1, ../sass/partials/_circles.scss */
.circle {
  width: 5em;
  height: 5em;
  background: #EBEEF0;
  -moz-border-radius: 4em;
  -webkit-border-radius: 4em;
  border-radius: 4em;
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.4), inset 0px -2px 0px 0px rgba(25, 34, 125, 0.2), 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
  color: #EC008B;
  margin: auto;
  padding: 1em;
}
/* line 15, ../sass/partials/_circles.scss */
.circle:hover {
  background: #EC008B;
  color: #FEFEFE;
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.4), inset 0px -2px 0px 0px rgba(25, 34, 125, 0.2), 0px 8px 8px 0px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
/* line 23, ../sass/partials/_circles.scss */
.circle:hover .icon {
  fill: #FEFEFE;
}
/* line 27, ../sass/partials/_circles.scss */
.active .circle {
  background: #00ADEF;
  color: #FEFEFE;
  box-shadow: inset 0px 2px 0px 0px rgba(255, 255, 255, 0.4), inset 0px -2px 0px 0px rgba(25, 34, 125, 0.2), 0px 8px 8px 0px rgba(0, 0, 0, 0.16);
}
/* line 34, ../sass/partials/_circles.scss */
.active .circle .icon {
  fill: #FEFEFE;
}

/* line 6, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

/* line 13, ../sass/style.scss */
html {
  font-family: "Museo Slab", serif;
  font-size: 16pt;
  background: #FEFEFE;
}

/* line 19, ../sass/style.scss */
body {
  color: #19227D;
  width: 100%;
}

/* line 23, ../sass/style.scss */
section h1 {
  margin-bottom: 1em;
}

/* line 26, ../sass/style.scss */
header {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-image: url(../hero.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 2em 0em 6em;
}
/* line 32, ../sass/style.scss */
header .logo {
  width: 80%;
  max-width: 720px;
  height: auto;
  margin: auto;
  padding-bottom: 0.5em;
}
/* line 39, ../sass/style.scss */
header h1 {
  font-family: "Museo Slab", serif;
  font-weight: 300;
  font-size: 1.5em;
  text-align: center;
  width: 80%;
  margin: auto;
  text-shadow: rgba(255, 255, 255, 0.75) 0px 1px 24px;
}

/* line 52, ../sass/style.scss */
a:link {
  text-decoration: none;
  color: #00ADEF;
}
/* line 56, ../sass/style.scss */
a:visited {
  text-decoration: none;
  color: #00ADEF;
}
/* line 60, ../sass/style.scss */
a:hover {
  text-decoration: none;
  color: #EC008B;
  cursor: pointer;
}
/* line 65, ../sass/style.scss */
a:active {
  text-decoration: none;
  color: #EC008B;
}

/* line 70, ../sass/style.scss */
.work {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
  -webkit-justify-content: center;
  justify-content: center;
}
@media screen and (min-width: 995px) {
  /* line 72, ../sass/style.scss */
  .work .details.inactive {
    display: none;
  }
}

/* line 78, ../sass/style.scss */
.categories {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  background: #19227D;
  color: #FEFEFE;
}
/* line 82, ../sass/style.scss */
.categories .category {
  padding: 1em;
  text-align: center;
  width: 33%;
}
/* line 86, ../sass/style.scss */
.categories .category img {
  width: 50%;
  margin: auto;
}
/* line 90, ../sass/style.scss */
.categories .category h2 {
  font-family: "Effra", sans-serif;
  font-weight: 500;
  margin-bottom: 1em;
}
/* line 95, ../sass/style.scss */
.categories .category p {
  margin-top: 2em;
}
/* line 98, ../sass/style.scss */
.categories .category .arrow {
  visibility: hidden;
  width: 0;
  height: 0;
  border-bottom: 2em solid #EBEEF0;
  border-right: 2em solid transparent;
  border-left: 2em solid transparent;
  position: relative;
  bottom: -1em;
  left: calc(50% - 2em);
}
/* line 110, ../sass/style.scss */
.categories .category.active .arrow {
  visibility: visible;
}
@media screen and (max-width: 994px) {
  /* line 82, ../sass/style.scss */
  .categories .category {
    max-width: 800px;
  }
  /* line 118, ../sass/style.scss */
  .categories .category .arrow {
    display: none;
  }
}
@media screen and (max-width: 994px) {
  /* line 78, ../sass/style.scss */
  .categories {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: space-around;
    justify-content: space-around;
  }
  /* line 125, ../sass/style.scss */
  .categories .category {
    width: auto;
  }
}

/* line 130, ../sass/style.scss */
.details {
  background: #EBEEF0;
  padding: 2em;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
}
/* line 134, ../sass/style.scss */
.details .explanation {
  margin-bottom: 2em;
}
/* line 137, ../sass/style.scss */
.details .examples {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin-bottom: 1.5em;
}
/* line 140, ../sass/style.scss */
.details .examples .example {
  width: 25%;
  background: #FEFEFE;
  color: #19227D;
  padding: 0.5em;
  border-radius: 0.125em;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.02);
}
/* line 147, ../sass/style.scss */
.details .examples .example h3 {
  margin-bottom: 0.5em;
  font-weight: 500;
}
/* line 151, ../sass/style.scss */
.details .examples .example img {
  width: 100%;
}
/* line 154, ../sass/style.scss */
.details .examples .example:hover {
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.08);
}
/* line 159, ../sass/style.scss */
.details .seeAll {
  text-align: center;
  display: block;
  width: 100%;
  margin: auto;
  font-family: "Effra", sans-serif;
}

/* line 168, ../sass/style.scss */
.partnership .row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  margin: 2em;
}
@media screen and (max-width: 994px) {
  /* line 168, ../sass/style.scss */
  .partnership .row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    align-items: center;
    -webkit-align-content: center;
    align-content: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
}
/* line 175, ../sass/style.scss */
.partnership .logo {
  width: 40em;
  margin: 0em 1em;
}
/* line 179, ../sass/style.scss */
.partnership h2 {
  font-weight: 300;
  font-family: "Museo Slab", serif;
}

/* line 185, ../sass/style.scss */
.testimonials {
  background: #EBEEF0;
  padding: 2em;
}
/* line 188, ../sass/style.scss */
.testimonials .testimony {
  margin-bottom: 2em;
}
/* line 190, ../sass/style.scss */
.testimonials .testimony h4 {
  font-weight: 500;
  color: #00ADEF;
  margin-top: 0.5em;
}
/* line 195, ../sass/style.scss */
.testimonials .testimony h5 {
  font-family: "Museo Slab", serif;
  font-weight: 500;
}

/* line 201, ../sass/style.scss */
.contact {
  background: #19227D;
  color: #FEFEFE;
  padding: 2em;
}
/* line 206, ../sass/style.scss */
.contact form input {
  width: 100%;
  height: 2em;
  padding: 0.5em;
  margin: 1em 0em;
  border-radius: 1px;
}

/* line 215, ../sass/style.scss */
footer {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  background: #19227D;
  color: #FEFEFE;
  padding-bottom: 2em;
}
/* line 220, ../sass/style.scss */
footer h6 {
  text-align: center;
  font-family: "Effra", sans-serif;
  font-weight: 300;
  font-size: 1em;
}
/* line 225, ../sass/style.scss */
footer h6 .cName {
  font-weight: 500;
}
/* line 227, ../sass/style.scss */
footer h6 .cName:before {
  content: url(../icon.png);
  position: relative;
  top: 9px;
  right: 9px;
}
